<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de regreso -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Botón de ayuda centrado -->
    <ion-buttons>
      <ion-button class="help-button" (click)="goToHelp()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="goToLogin()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="change-password-page">
  <!-- Título -->
  <div class="title-container">
    <h1>CAMBIA TÚ CONTRASEÑA</h1>
  </div>

  <!-- Formulario -->
  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <!-- Contraseña actual -->
      <ion-item>
        <ion-input
          placeholder="Contraseña actual"
          [type]="currentPasswordType"
          [(ngModel)]="currentPassword"
          name="currentPassword"
          required
        ></ion-input>
        <ion-icon
          [name]="currentPasswordType === 'password' ? 'eye-off' : 'eye'"
          slot="end"
          (click)="toggleCurrentPasswordType()"
        ></ion-icon>
      </ion-item>

      <!-- Nueva contraseña -->
      <ion-item>
        <ion-input
          placeholder="Nueva contraseña"
          [type]="newPasswordType"
          [(ngModel)]="newPassword"
          name="newPassword"
          required
        ></ion-input>
        <ion-icon
          [name]="newPasswordType === 'password' ? 'eye-off' : 'eye'"
          slot="end"
          (click)="toggleNewPasswordType()"
        ></ion-icon>
      </ion-item>

      <!-- Confirmar nueva contraseña -->
      <ion-item>
        <ion-input
          placeholder="Repite tú contraseña"
          [type]="confirmPasswordType"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        ></ion-input>
        <ion-icon
          [name]="confirmPasswordType === 'password' ? 'eye-off' : 'eye'"
          slot="end"
          (click)="toggleConfirmPasswordType()"
        ></ion-icon>
      </ion-item>

      <!-- Botón de enviar -->
      <ion-button expand="block" class="submit-button" type="submit">Cambiar contraseña</ion-button>
    </form>
  </div>
</ion-content>
