<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de regreso -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Botón de ayuda -->
    <ion-buttons>
      <ion-button class="help-button" (click)="goToHelp()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Botón de cerrar sesión -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-page">
  <!-- Título de bienvenida -->
  <div class="title-container">
    <h1>BIENVENIDO<br><span>{{ profileForm.value.username }}</span></h1>
  </div>

  <!-- Imagen de perfil -->
  <div class="profile-container">
    <img [src]="profilePicture" alt="Perfil" class="profile-img">
    <ion-button class="refresh-button" (click)="changeProfilePicture()">
      <ion-icon name="camera-outline" class="refresh-icon"></ion-icon>
    </ion-button>
  </div>

  <!-- Formulario -->
  <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" class="form-container">
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input placeholder="Nombre" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input placeholder="Correo" formControlName="email" readonly></ion-input>
    </ion-item>

    <ion-button expand="block" class="change-password-button" (click)="goToChangePassword()">Cambiar contraseña</ion-button>
    <ion-button expand="block" class="change-username-button" (click)="goToChangeUsername()">Cambiar nombre de usuario</ion-button>
  </form>
</ion-content>
