.popover-container {
  text-align: center;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  ion-input {
    margin-bottom: 10px;
  }

  ion-button {
    --background: #007bff;
    --color: white;
  }
}
