<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="validate-code-page">
  <!-- Título principal -->
  <div class="title-container">
    <h1>INGRESA TU<br>CÓDIGO</h1>
  </div>

  <!-- Icono de candado -->
  <div class="icon-container">
    <ion-icon name="lock-closed-outline"></ion-icon>
  </div>

  <!-- Subtítulo y descripción -->
  <div class="description-container">
    <p>Ingresa tu código, para enviarte a cambiar tu contraseña</p>
  </div>

  <!-- Formulario -->
  <div class="form-container">
    <ion-item>
      <ion-input placeholder="Código" type="text" [(ngModel)]="code" name="code" required></ion-input>
    </ion-item>
    <ion-button expand="block" class="validate-button"><a (click)="redirectToLogin()">Validar código</a></ion-button>
  </div>
</ion-content>
