<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button class="help-button" (click)="goToHelp()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToLogin()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="change-username-page">
  <div class="title-container">
    <h1>CAMBIA TÚ<br>NOMBRE DE USUARIO</h1>
  </div>

  <div class="form-container">
    <form [formGroup]="usernameForm" (ngSubmit)="onSubmit()">
      <!-- Nombre de usuario actual -->
      <ion-item>
        <ion-input
          placeholder="{{ currentUsername }}"
          [disabled]="true"
        ></ion-input>
      </ion-item>

      <!-- Nuevo nombre de usuario -->
      <ion-item>
        <ion-input
          placeholder="Ingresa tú nuevo nombre de usuario"
          formControlName="newUsername"
        ></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="usernameForm.get('newUsername')?.touched && usernameForm.get('newUsername')?.errors?.['required']">
        El nombre de usuario es obligatorio.
      </ion-text>
      <ion-text color="danger" *ngIf="usernameForm.get('newUsername')?.touched && usernameForm.get('newUsername')?.errors?.['maxlength']">
        El nombre de usuario no puede exceder los 30 caracteres.
      </ion-text>

      <!-- Botón de cambiar nombre -->
      <ion-button
        expand="block"
        class="submit-button"
        type="submit"
        [disabled]="usernameForm.invalid"
      >
        Cambiar nombre
      </ion-button>
    </form>
  </div>
</ion-content>
