<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="logo-container">
    <img src="../../../assets/img/TaskGod logo.png" alt="logo" class="logo">
  </div>

  <div class="subtitle-logo">
    <h1>GESTOR DE TAREAS</h1>
  </div>

    <div class="form-container">
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [type]="passwordType" [(ngModel)]="password" name="password" required></ion-input>
          <ion-icon [name]="passwordType === 'password' ? 'eye-off' : 'eye'" (click)="togglePasswordType()"></ion-icon>
        </ion-item>

        <ion-button type="submit" expand="block">Iniciar sesión</ion-button>
      </form>
    </div>

      <div class="nav-container">
        <div class="register-container">
        <ion-button (click)="goToRegister()" expand="block" fill="clear" shape="round">
          registrarse
        </ion-button>
      </div>

        <div class="forget-container">
        <ion-button (click)="goToForget()" expand="block" fill="clear" shape="round">
          ¿olvidaste tú contraseña?
        </ion-button>
       </div>
      </div>

</ion-content>
