<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="register-page">
  <!-- Título principal -->
  <div class="title-container">
    <h1>CREA TU CUENTA</h1>
  </div>

  <!-- Formulario -->
  <div class="form-container">
    <form class="register-container">
      <!-- Nombre -->
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input placeholder="Nombre" type="text" [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>

      <!-- Nombre de usuario -->
      <ion-item>
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-input placeholder="Nombre de usuario" type="text" [(ngModel)]="userName" name="userName" required></ion-input>
      </ion-item>

      <!-- Correo -->
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Correo" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          placeholder="Contraseña"
          [type]="passwordType"
          [(ngModel)]="password"
          name="password"
          required
        ></ion-input>
        <ion-icon
          [name]="passwordType === 'password' ? 'eye-off' : 'eye'"
          slot="end"
          (click)="togglePasswordType()"
        ></ion-icon>
      </ion-item>

      <!-- Confirmar Contraseña -->
      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          placeholder="Repite tu contraseña"
          [type]="confirmPasswordType"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        ></ion-input>
        <ion-icon
          [name]="confirmPasswordType === 'password' ? 'eye-off' : 'eye'"
          slot="end"
          (click)="toggleConfirmPasswordType()"
        ></ion-icon>
      </ion-item>

      <!-- Botón de Registro -->
      <ion-button expand="block" class="register-button">Crea tú cuenta</ion-button>
    </form>
  </div>
</ion-content>
