<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button class="help-button" (click)="goToHelp()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToLogin()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="income-page">
  <div class="title-container">
    <h1>NUEVO GASTO</h1>
    <h2>{{ currentDate }}</h2>
  </div>

  <!-- Input de ingreso -->
  <div class="input-container">
    <div class="currency-display">
      <p>CLP</p>
    </div>
    <ion-input type="number" [(ngModel)]="incomeAmount" placeholder="0"></ion-input>
    <ion-icon name="close-circle" class="clear-icon" (click)="clearInput()"></ion-icon>
  </div>

  <!-- Teclado numérico -->
  <div class="keypad">
    <button *ngFor="let key of keypad.slice(0, 9)" (click)="onKeyPress(key)">{{ key }}</button>
    <div class="zero-row">
      <button (click)="onKeyPress('0')" class="zero-key">0</button>
    </div>
  </div>


  <!-- Botón de categoría -->
  <ion-button expand="block" class="category-button" (click)="chooseCategory()">
    Elegir categoría
  </ion-button>
</ion-content>
