<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de regreso -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Botón de ayuda centrado -->
    <ion-buttons>
      <ion-button class="help-button" (click)="goToHelp()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="goToLogin()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="diary-page">
  <!-- Título -->
  <div class="title-container">
    <h1>TAREAS DIARIAS</h1>
  </div>

  <!-- Lista de tareas -->
  <div class="tasks-container">
    <ion-list>
      <ion-item *ngFor="let task of tasks">
        <ion-checkbox
          slot="start"
          [checked]="task.isCompleted"
          disabled="true"
        ></ion-checkbox>
        <ion-label>
          <h2>{{ task.titulo }}</h2>
          <p>Categoría: {{ task.category }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
