<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Botón de regreso (Back) -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- Botón de ayuda centrado -->
    <ion-buttons>
      <ion-button class="help-button" (click)="goToHelp()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Botón de cerrar sesión a la derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="goToLogin()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="homepage-user">
  <!-- Bienvenida -->
  <div class="title-container">
    <h1>BIENVENIDO<br><span>{{ username }}</span></h1>
  </div>

  <!-- Imagen de perfil -->
  <div class="profile-container" (click)="goToProfile()">
    <img src="../../../assets/img/profile-placeholder.png" alt="Perfil" class="profile-img">
  </div>

  <!-- Tareas -->
  <div class="tasks-container">
    <h2>MIS TAREAS</h2>
    <div class="tasks-buttons">
      <ion-button class="task-button" (click)="goToDiary()">DIARIAS</ion-button>
      <ion-button class="task-button" (click)="goToMonthly()">MENSUALES</ion-button>
    </div>

    <div class="tasks-icons">
      <ion-button class="responsability-button" (click)="goToResponsability()">
        <ion-icon src="../../../assets/svg/briefcase-outline.svg"></ion-icon>
      </ion-button>
      <ion-button class="exercise-button" (click)="goToExercise()">
        <ion-icon src="../../../assets/svg/barbell-outline.svg"></ion-icon>
      </ion-button>
      <ion-button class="selfcare-button" (click)="goToSelfcare()">
        <ion-icon src="../../../assets/svg/medkit-outline.svg"></ion-icon>
      </ion-button>
      <ion-button class="economic-button" (click)="goToEconomic()">
        <ion-icon src="../../../assets/svg/wallet-outline.svg"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
