.economic-page {
  --ion-background-color: #d9d9d9;

  .title-container {
    text-align: center;
    margin-top: 20px;

    h1 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #00a000;
      text-transform: uppercase;
    }

    h2 {
      font-size: 1.5rem;
      color: #444;
    }
  }

  .savings-section {
    display: flex;
    justify-content: space-around;
    margin: 20px;

    .goal-container,
    .saved-container {
      text-align: center;

      p {
        font-size: 1.2rem;
        color: #444;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #00a000;
      }

      ion-icon {
        font-size: 1.5rem;
        color: #00a000;
        cursor: pointer;
      }
    }
  }

  .chart-container {
    display: flex;
    justify-content: center;
    margin: 20px;

    .circle-chart {
      --size: 200px;
      --border: 20px;
      --percent: 0;
      --bg-color: #efefef;
      --accent-color: #00a000;
      --font-size: 24px;
      position: relative;
      width: var(--size);
      height: var(--size);
      box-shadow: inset 0 0 0 var(--border) var(--bg-color);
      border-radius: 50%;
      font-weight: bold;
      font-size: var(--font-size);
      color: var(--accent-color);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .circle-chart::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      border-radius: 50%;
      background: conic-gradient(
        var(--accent-color) calc(var(--percent) * 1%),
        transparent 0
      );
      mask: radial-gradient(
        farthest-side,
        transparent calc(99% - var(--border)),
        #000000 calc(100% - var(--border))
      );
    }
  }

  .buttons-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px;

    ion-button {
      font-weight: bold;
      --border-radius: 10px;
      height: 50px;
    }

    .income-button {
      --background: #00a000;
      --color: white;
    }

    .expenses-button {
      --background: #ff0000;
      --color: white;
    }

    .savings-button {
      --background: #00bfff;
      --color: white;
    }

    .withdraw-button {
      --background: #ffa500;
      --color: white;
    }
  }

  .history-button {
    --background: #00a000;
    --color: white;
    margin-top: 20px;
    font-weight: bold;
  }
}

