:host {
  --ion-background-color: #d9d9d9;
  --ion-text-color: #000;
}

.forget-password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title-container {
  margin-top: 20px;
  text-align: center;
}

.title-container h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  color: #000;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.icon-container {
  margin: 30px 0;
  text-align: center;
}

.icon-container ion-icon {
  font-size: 4rem;
  color: #000;
}

.description-container {
  text-align: center;
  margin-bottom: 20px;
}

.description-container h2 {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.description-container p {
  font-size: 0.9rem;
  color: #555;
}

.form-container {
  padding: 25px;
  width: 90%;
  max-width: 400px;
  background-color: white;
  text-align: center;
  border-radius: 30px;
  margin: auto;

}

ion-item {
  border-radius: 25px;
  background-color: white;
  margin-bottom: 15px;
}

ion-input {
  padding: 10px;
  font-size: 1rem;
}

.send-button {
  --background: #00c4cc;
  --background-hover: #00b4bc;
  --background-activated: #00a4ac;
  --color: #fff;
  --border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
