<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="forget-password-page">
  <!-- Título principal -->
  <div class="title-container">
    <h1>RECUPERAR<br>CONTRASEÑA</h1>
  </div>

  <!-- Icono de candado -->
  <div class="icon-container">
    <ion-icon name="lock-closed-outline"></ion-icon>
  </div>

  <!-- Subtítulo y descripción -->
  <div class="description-container">
    <h2>¿Tienes problemas iniciando sesión?</h2>
    <p>Ingresa tu correo para enviarte así un código con el cuál podrás recuperar tu cuenta.</p>
  </div>

  <!-- Formulario -->
  <div class="form-container">
    <ion-item>
      <ion-input placeholder="Correo" type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-button expand="block" class="send-button"><a (click)="goToValidate()">Enviar código</a></ion-button>
  </div>
</ion-content>
